In [1]:
import pandas as pd
import re
import os

In [2]:
csv_file = '../../data/bronze/CostOfLiving.csv'
df = pd.read_csv(csv_file)

In [ ]:
df

,Pays,Item,Price
0,Afghanistan,"Meal, Inexpensive Restaurant",2.05 $
1,Afghanistan,"Meal for 2 People, Mid-range Restaurant, Three...",10.13 $
2,Afghanistan,McMeal at McDonalds (or Equivalent Combo Meal),3.42 $
3,Afghanistan,Domestic Non-Alcoholic Beer (0.5 liter draught),2.74 $
4,Afghanistan,Imported Non-Alcoholic Beer (0.33 liter bottle),6.84 $
...,...,...,...
12865,Zimbabwe,Apartment (3 bedrooms) Outside of Centre,511.74 $
12866,Zimbabwe,Price per Square Meter to Buy Apartment in Cit...,"1,050.00 $"
12867,Zimbabwe,Price per Square Meter to Buy Apartment Outsid...,"1,424.13 $"
12868,Zimbabwe,Average Monthly Net Salary (After Tax),367.91 $
12869,Zimbabwe,"Mortgage Interest Rate in Percentages (%), Yea...",14.21

In [4]:
# Clean the 'Price' column
df['Price'] = df['Price'].str.replace(r'\s+', '', regex=True)  # Remove whitespace
df['Price'] = df['Price'].str.replace(r'[^\d.]', '', regex=True)  # Remove non-numeric characters
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')  # Convert to numeric

# Drop rows with NaN values in 'Price'
df = df.dropna(subset=['Price'])

In [5]:
# Remove rows where 'Item' contains 'Beer' (case insensitive)
df = df[~df['Item'].str.contains('Beer', case=False, na=False)]

In [6]:
# Drop duplicate rows based on 'Pays' and 'Item'
df = df.drop_duplicates(subset=['Pays', 'Item'], keep='first')

In [7]:
# Ensure the 'Price' column is numeric and check for NaNs
assert df['Price'].dtype in [float, int], "Price column is not numeric"
assert not df['Price'].isna().any(), "There are NaNs in the Price column"

In [8]:
# Save the cleaned data
dir_path = '../../data/silver'
os.makedirs(dir_path, exist_ok=True)
df.to_csv(os.path.join(dir_path, 'CostOfLiving_cleaned.csv'), index=False)