In [1]:
import pandas as pd
import re
import os

In [2]:
csv_file = '../../data/bronze/Pollution.csv'
df = pd.read_csv(csv_file)

In [3]:
df

,Country,Pollution_Label,Pollution_Index,Pollution_Qualifier
0,Afghanistan,Air Pollution,77.23\nHigh,High
1,Afghanistan,Drinking Water Pollution and Inaccessibility,61.96\nHigh,High
2,Afghanistan,Dissatisfaction with Garbage Disposal,73.84\nHigh,High
3,Afghanistan,Dirty and Untidy,68.18\nHigh,High
4,Afghanistan,Noise and Light Pollution,56.52\nModerate,Moderate
...,...,...,...,...
3739,Zimbabwe,Dirty and Untidy,76.34\nHigh,High
3740,Zimbabwe,Noise and Light Pollution,61.11\nHigh,High
3741,Zimbabwe,Water Pollution,84.72\nVery High,Very High
3742,Zimbabwe,Dissatisfaction with Spending Time in the City,63.43\nHigh,High
3743,Zimbabwe,Dissatisfaction with Green and Parks in the City,59.31\nModerate,Moderate

In [4]:
df["Pollution_Index"] = df["Pollution_Index"].str.split("\n").str[0]

In [5]:
df

,Country,Pollution_Label,Pollution_Index,Pollution_Qualifier
0,Afghanistan,Air Pollution,77.23,High
1,Afghanistan,Drinking Water Pollution and Inaccessibility,61.96,High
2,Afghanistan,Dissatisfaction with Garbage Disposal,73.84,High
3,Afghanistan,Dirty and Untidy,68.18,High
4,Afghanistan,Noise and Light Pollution,56.52,Moderate
...,...,...,...,...
3739,Zimbabwe,Dirty and Untidy,76.34,High
3740,Zimbabwe,Noise and Light Pollution,61.11,High
3741,Zimbabwe,Water Pollution,84.72,Very High
3742,Zimbabwe,Dissatisfaction with Spending Time in the City,63.43,High
3743,Zimbabwe,Dissatisfaction with Green and Parks in the City,59.31,Moderate

In [6]:
df = df.drop_duplicates()

In [7]:
df

,Country,Pollution_Label,Pollution_Index,Pollution_Qualifier
0,Afghanistan,Air Pollution,77.23,High
1,Afghanistan,Drinking Water Pollution and Inaccessibility,61.96,High
2,Afghanistan,Dissatisfaction with Garbage Disposal,73.84,High
3,Afghanistan,Dirty and Untidy,68.18,High
4,Afghanistan,Noise and Light Pollution,56.52,Moderate
...,...,...,...,...
1867,Zimbabwe,Dirty and Untidy,76.34,High
1868,Zimbabwe,Noise and Light Pollution,61.11,High
1869,Zimbabwe,Water Pollution,84.72,Very High
1870,Zimbabwe,Dissatisfaction with Spending Time in the City,63.43,High
1871,Zimbabwe,Dissatisfaction with Green and Parks in the City,59.31,Moderate

In [8]:
dir_path = '../data/silver'
os.makedirs(dir_path, exist_ok=True)

In [9]:
df.to_csv(os.path.join(dir_path, 'Pollution_cleaned.csv'), index=False)